<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STU-ANALYSIS</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
</head>

<body>

    <!-- head - Googlefonts link -->

    <div id="outside">

        <h1 id="title">STU-ANALYSIS</h1>
        <h2 id="description"> GRADE 12 RESULT PREDICTION SYSTEM </h2>
            <p id="description" style="text-align: center;"> <b>Note:</b> The data entered by the user is totally
            anonymous.</p>
            <h2 id="description"><b>{{ prediction_text }}</b></h2>

            <form id="prediction-form" action="{{url_for('predict')}}" method="post">
                <fieldset>
                    <!-- groups of widgets that share the same purpose, for styling and semantic purposes -->
                    <legend>Family's Educational Background</legend>
                    <br>
                    <div>
                        <label for="MHEQ"><i>Mother's Highest Educational Qualification: </i></label>
                        <select name="MHEQ" id="MHEQ" required>
                            <option hidden disabled selected value> -- select an option -- </option>
                            <option value="0.0"> No Formal Education </option>
                            <option value="0.6"> Primary Education (6th Class) </option>
                            <option value="1.0"> Secondary Education (SLC)
                            <option value="1.2"> Higher Secondary (12th Class) </option>
                            <option value="1.6"> Bachelor's Degree </option>
                            <option value="1.8"> Master's Degree </option>
                            <option value="2.3"> PhD
                        </select>
                    </div>

                    <div>
                        <label for="FHEQ"><i>Father's Highest Educational Qualification: </i></label>
                        <select name="FHEQ" id="FHEQ" required>
                            <option hidden disabled selected value> -- select an option -- </option>
                            <option value="0.0"> No Formal Education </option>
                            <option value="0.6"> Primary Education (6th Class) </option>
                            <option value="1.0"> Secondary Education (SLC)
                            <option value="1.2"> Higher Secondary (12th Class) </option>
                            <option value="1.6"> Bachelor's Degree </option>
                            <option value="1.8"> Master's Degree </option>
                            <option value="2.3"> PhD
                        </select>
                    </div>
                </fieldset>

                <fieldset>
                    <!-- groups of widgets that share the same purpose, for styling and semantic purposes -->
                    <legend>Grade-10 Information</legend>
                    <br>
                    <div>
                        <label for="PCF10"><i>Percentage in the Final Exam of Grade 10: </i></label>
                        <select name="PCF10" id="PCF10" required>
                            <option hidden disabled selected value> -- select an option -- </option>
                            <option name="PCF10" value="5.0"> below 50% </option>
                            <option name="PCF10" value="6.0"> Between 50-60% </option>
                            <option name="PCF10" value="7.0"> Between 60-70% </option>
                            <option name="PCF10" value="8.0"> Between 70-80% </option>
                            <option name="PCF10" value="9.0"> Between 80-90% </option>
                            <option name="PCF10" value="9.1"> 90% and above </option>
                        </select>
                    </div>

                    <div>
                        <label for="RFSS10"><i>Rating of Family Support for Study in Grade 10: </i></label>
                        <p>
                            <input type="radio" name="RFSS10" value="1" required> Very Poor &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RFSS10" value="2"> Poor &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RFSS10" value="3"> Average &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RFSS10" value="4"> Good &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RFSS10" value="5"> Excellent
                        </p>
                    </div>

                    <div>
                        <label for="RWS10"><i>Rating of Writing Skill in Grade 10: </i></label>
                        <p>
                            <input type="radio" name="RWS10" value="1" required> Very Poor &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RWS10" value="2"> Poor &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RWS10" value="3"> Average&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RWS10" value="4"> Good &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RWS10" value="5"> Excellent
                        </p>
                    </div>

                    <div>
                        <label for="RRS10"><i>Rating of Reading Skill in Grade 10: </i></label>
                        <p>
                            <input type="radio" name="RRS10" value="1" required> Very Poor &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RRS10" value="2"> Poor &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RRS10" value="3"> Average &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RRS10" value="4"> Good &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RRS10" value="5"> Excellent
                        </p>
                    </div>

                    <div>
                        <label for="RIS10"><i>Rating of Interest in Study in Grade 10: </i></label>
                        <p>
                            <input type="radio" name="RIS10" value="1" required> Very Less &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RIS10" value="2"> Less &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RIS10" value="3"> Average &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RIS10" value="4"> Satisfactory &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RIS10" value="5"> Very High
                        </p>
                    </div>
                </fieldset>

                <fieldset>
                    <!-- groups of widgets that share the same purpose, for styling and semantic purposes -->
                    <legend>Grade-11 Information</legend>
                    <br>
                    <div>
                        <label for="PC1TE11"><i>Percentage in the First Term: </i></label>
                        <select name="PC1TE11" id="PC1TE11" required>
                            <option hidden disabled selected value> -- select an option -- </option>
                            <option name="PC1TE11" value="5.0"> below 50% </option>
                            <option name="PC1TE11" value="6.0"> Between 50-60% </option>
                            <option name="PC1TE11" value="7.0"> Between 60-70% </option>
                            <option name="PC1TE11" value="8.0"> Between 70-80% </option>
                            <option name="PC1TE11" value="9.0"> Between 80-90% </option>
                            <option name="PC1TE11" value="9.1"> 90% and above </option>
                        </select>
                    </div>

                    <div>
                        <label for="PC2TE11"><i>Percentage in the Second Term: </i></label>
                        <select name="PC2TE11" id="PC2TE11" required>
                            <option hidden disabled selected value> -- select an option -- </option>
                            <option name="PC2TE11" value="5.0"> below 50% </option>
                            <option name="PC2TE11" value="6.0"> Between 50-60% </option>
                            <option name="PC2TE11" value="7.0"> Between 60-70% </option>
                            <option name="PC2TE11" value="8.0"> Between 70-80% </option>
                            <option name="PC2TE11" value="9.0"> Between 80-90% </option>
                            <option name="PC2TE11" value="9.1"> 90% and above </option>
                        </select>
                    </div>

                    <div>
                        <label for="PCF11"><i>Percentage in the Final Exam of Grade 11: </i></label>
                        <select name="PCF11" id="PCF11" required>
                            <option hidden disabled selected value> -- select an option -- </option>
                            <option name="PCF11" value="5.0"> below 50% </option>
                            <option name="PCF11" value="6.0"> Between 50-60% </option>
                            <option name="PCF11" value="7.0"> Between 60-70% </option>
                            <option name="PCF11" value="8.0"> Between 70-80% </option>
                            <option name="PCF11" value="9.0"> Between 80-90% </option>
                            <option name="PCF11" value="9.1"> 90% and above </option>
                        </select>
                    </div>

                    <div>
                        <label for="RFSS11"><i>Rating of Family Support for Study in Grade 1</i></label>
                        <p>
                            <input type="radio" name="RFSS11" value="1" required> Very Poor &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RFSS11" value="2"> Poor &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RFSS11" value="3"> Average &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RFSS11" value="4"> Good &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RFSS11" value="5"> Excellent
                        </p>
                    </div>
                    <div>
                        <label for="HGAC11"><i>Rating of Access to Computer</i></label>
                        <p>
                            <input type="radio" name="HGAC11" value="1" required> No Access &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="HGAC11" value="2"> Rare Cases&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="HGAC11" value="3"> Sometimes &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="HGAC11" value="4"> Moderate &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="HGAC11" value="5"> Very Good
                        </p>
                    </div>
                    <div>
                        <label for="RDN11"><i>Rating of Dependency on Notes in Grade 11</i></label>
                        <p>
                            <input type="radio" name="RDN11" value="1" required> Didn't Need Notes
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RDN11" value="2"> Rarely Needed&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RDN11" value="3"> Sometimes Needed &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RDN11" value="4"> Often Needed &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RDN11" value="5"> Always Needed
                        </p>
                    </div>

                    <div>
                        <label for="RQRB11"><i>Rating of Quality of Reading Books in Grade 11</i></label>
                        <p>
                            <input type="radio" name="RQRB11" value="1" required> Very Poor &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RQRB11" value="2"> Poor &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RQRB11" value="3"> Average &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RQRB11" value="4"> Good &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RQRB11" value="5"> Excellent
                        </p>
                    </div>

                    <div>
                        <label for="RWS11"><i>Rating of Writing Skill in Grade 11</i></label>
                        <p>
                            <input type="radio" name="RWS11" value="1" required> Very Poor &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RWS11" value="2"> Poor &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RWS11" value="3"> Average &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RWS11" value="4"> Good &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RWS11" value="5"> Excellent
                        </p>
                    </div>

                    <div>
                        <label for="RIS11"><i>Rating of Interest in Study in Grade 11</i></label>
                        <p>
                            <input type="radio" name="RIS11" value="1" required> Very Less &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RIS11" value="2"> Less &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RIS11" value="3"> Average &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RIS11" value="4"> Satisfactory &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RIS11" value="5"> Very High
                        </p>
                    </div>

                    <div>
                        <label for="RPECA11"><i>Rating of Participation in Extra Curricular Activities</i></label>
                        <p>
                            <input type="radio" name="RPECA11" value="1" required> Very Poor &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RPECA11" value="2">Poor &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RPECA11" value="3"> Average &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RPECA11" value="4"> Good &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RPECA11" value="5"> Excellent
                        </p>
                    </div>
                </fieldset>

                <fieldset>
                    <!-- groups of widgets that share the same purpose, for styling and semantic purposes -->
                    <legend>Grade-12 Information</legend>
                    <br>
                    <div>
                        <label for="PC1TE12"><i>Percentage in the First Term: </i></label>
                        <select name="PC1TE12" id="PC1TE12" required>
                            <option hidden disabled selected value> -- select an option -- </option>
                            <option name="PC1TE12" value="5.0"> below 50% </option>
                            <option name="PC1TE12" value="6.0"> Between 50-60% </option>
                            <option name="PC1TE12" value="7.0"> Between 60-70% </option>
                            <option name="PC1TE12" value="8.0"> Between 70-80% </option>
                            <option name="PC1TE12" value="9.0"> Between 80-90% </option>
                            <option name="PC1TE12" value="9.1"> 90% and above </option>
                        </select>
                    </div>

                    <div>
                        <label for="PC2TE12"><i>Percentage in the Second Term: </i></label>
                        <select name="PC2TE12" id="PC2TE12" required>
                            <option hidden disabled selected value> -- select an option -- </option>
                            <option name="PC2TE12" value="5.0"> below 50% </option>
                            <option name="PC2TE12" value="6.0"> Between 50-60% </option>
                            <option name="PC2TE12" value="7.0"> Between 60-70% </option>
                            <option name="PC2TE12" value="8.0"> Between 70-80% </option>
                            <option name="PC2TE12" value="9.0"> Between 80-90% </option>
                            <option name="PC2TE12" value="9.1"> 90% and above </option>
                        </select>
                    </div>

                    <div>
                        <label for="PCPBE12"><i>Percentage in the PreBoard Exam of Grade 12</i></label>
                        <select name="PCPBE12" id="PCPBE12" required>
                            <option hidden disabled selected value> -- select an option -- </option>
                            <option name="PCPBE12" value="5.0"> below 50% </option>
                            <option name="PCPBE12" value="6.0"> Between 50-60% </option>
                            <option name="PCPBE12" value="7.0"> Between 60-70% </option>
                            <option name="PCPBE12" value="8.0"> Between 70-80% </option>
                            <option name="PCPBE12" value="9.0"> Between 80-90% </option>
                            <option name="PCPBE12" value="9.1"> 90% and above </option>
                        </select>
                    </div>

                    <div>
                        <label for="RHC12"><i>Rating of Health Condition in Grade 12</i></label>
                        <p>
                            <input type="radio" name="RHC12" value="1" required> Very Poor &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RHC12" value="2"> Poor &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RHC12" value="3"> Average &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RHC12" value="4"> Good &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RHC12" value="5"> Excellent
                        </p>
                    </div>

                    <div>
                        <label for="RFSS12"><i>Rating of Family Support for Study in Grade 12</i></label>
                        <p>
                            <input type="radio" name="RFSS12" value="1" required> Very Poor &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RFSS12" value="2"> Poor &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RFSS12" value="3"> Average &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RFSS12" value="4"> Good &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RFSS12" value="5"> Excellent
                        </p>
                    </div>
                    <div>
                        <label for="HGAC12"><i>Rating of Access to Computer</i></label>
                        <p>
                            <input type="radio" name="HGAC12" value="1" required> No Access &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="HGAC12" value="2"> Rare Cases&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="HGAC12" value="3"> Sometimes &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="HGAC12" value="4"> Moderate &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="HGAC12" value="5"> Very Good
                        </p>
                    </div>
                    <div>
                        <label for=THSAHPW12"><i>Total Hrs of Study at Home Per Week in Grade 12</i></label>
                        <p>
                            <input type="radio" name=THSAHPW12" value="8" required> Less than 8 hrs
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name=THSAHPW12" value="15"> 8-16 hrs &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name=THSAHPW12" value="23"> 16-24 hrs &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name=THSAHPW12" value="29"> 24-30 hrs &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name=THSAHPW12" value="36"> 30-36 hrs &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name=THSAHPW12" value="43"> More than 36 hrs
                        </p>
                    </div>
                    <div>
                        <label for="RDN12"><i>Rating of Dependency on Notes in Grade 12</i></label>
                        <p>
                            <input type="radio" name="RDN12" value="1" required> Didn't Need Notes
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RDN12" value="2"> Rarely Needed&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RDN12" value="3"> Sometimes Needed &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RDN12" value="4"> Often Needed &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RDN12" value="5"> Always Needed
                        </p>
                    </div>

                    <div>
                        <label for="RQRB12"><i>Rating of Quality of Reading Books in Grade 12</i></label>
                        <p>
                            <input type="radio" name="RQRB12" value="1" required> Very Poor &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RQRB12" value="2"> Poor &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RQRB12" value="3"> Average &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RQRB12" value="4"> Good &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RQRB12" value="5"> Excellent
                        </p>
                    </div>

                    <div>
                        <label for="RWS12"><i>Rating of Writing Skill in Grade 12</i></label>
                        <p>
                            <input type="radio" name="RWS12" value="1" required> Very Poor &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RWS12" value="2"> Poor &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RWS12" value="3"> Average &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RWS12" value="4"> Good &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RWS12" value="5"> Excellent
                        </p>
                    </div>

                    <div>
                        <label for="RIS12"><i>Rating of Interest in Study in Grade 12</i></label>
                        <p>
                            <input type="radio" name="RIS12" value="1" required> Very Less &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RIS12" value="2"> Less &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RIS12" value="3"> Average &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RIS12" value="4"> Satisfactory &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="RIS12" value="5"> Very High
                        </p>
                    </div>

                </fieldset>


                <div id="submitbutton">
                    <button type="submit" id="submit">Predict My Score</button>  
                </div>
            </form>



    </div>

</body>

</html>
